
.modal.in .modal-dialog{
	margin-top: 15%;
}
.modal-sm{
	width: 600px;
}
.reminderPopup{
	position: absolute;
	color: green;
	padding-top: 5px;
}
.modal-body{
	padding: 0px 20px;
}
.modal-header{
	padding: 8px 20px;
}
.modal-footer{
	padding: 5px 24px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}

.colorpanpopup{
	float: left;
    margin: 5px 0px 0px 326px;
}
@media(max-width:760px){
	
	
}