@CHARSET "UTF-8";

 [contenteditable=true]:empty:before{
 content: attr(placeholder);
 display: block; /* For Firefox */
}


.beforeNote{
	color: rgba(51,51,51,0.4);
    cursor: default;
    font-size: 20px;
    font-family: 'Roboto Slab','Times New Roman',serif;
    font-variant-ligatures: none;
    text-align: -webkit-center;
    margin-top: 15vh;
}
/* 
/*alternative image */
img[alt].user {
  
  border-radius: 50%;
  background:#004d40;
  font-size: 23px;
  font-weight:bolder;
  color: #fff;
  text-align: center;
  margin-top: -3px;
  overflow: hidden;
     
}
img[alt].user1 {
  
  border-radius: 50%;
  background: #004d40;
  font-size: 66px;
  font-weight:bolder;
  color: #fff;
  text-align: center;
  overflow: hidden;
      
}
ends */
.notification-bell{
	color:#f5B400; 
}
.notification-icon:hover{
	color:#f5B400;
}
.notification-icon{
	color:rgba(0,0,0,.54);	
}
.notification-icon:hover{
	color: rgba(0,0,0,.87);
}
.notification{
	border-radius: 50%;
    border: none;
   	background-color: rgba(0,0,0,.54);
   	color: #f5B400;
}
.notification:hover{
	color: black;
}
.user {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.user1 {
  display: inline-block;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.del {
    display: none;
}
    
#d:hover + .del  {
    display: block;
}
.search{
	background-color: #f5B400;
}

.search:focus{
	background-color: white;
}
    border: none;
hr{
	border-top: 1px solid lightgray;
}
.hrRem{
	border-top: 1px solid #bf3f3f
}
.input-group .icon-addon .form-control {
	border-radius: 5px;
}

.form-control {
	border: none;
	height: 47px;
	
}

.icon-addon {
	position: absolute;
	color: #555;
}

.icon-addon.addon-md .glyphicon, .icon-addon .glyphicon, .icon-addon.addon-md .fa,
	.icon-addon .fa {
	position: absolute;
	left: 5px;
	font-size: 14px;
	text-align: center;
	padding: 10px 8px;
	top: 6px
}

.icon-addon.addon-sm .form-control {
	height: 30px;
	padding: 5px 10px 5px 28px;
	font-size: 12px;
	line-height: 1.5;
}

.icon-addon.addon-lg .fa, .icon-addon.addon-lg .glyphicon {
	font-size: 18px;
	margin-left: 0;
	left: 11px;
	top: 4px;
}
item
.icon-addon.addon-md .form-control, .icon-addon .form-control {
	padding-left: 40px;
	float: left;;
	font-weight: normal;
}

.icon-addon.addon-sm .fa, .icon-addon.addon-sm .glyphicon {
	margin-left: 0;
	font-size: 12px;
	left: 5px;
	top: -1px
}


sidebutton:hover {
	background-color: grey
}

input, textarea {
	outline: none;
	padding: 10px 2px 3px 3px;
	resize: none;
}

.refreshbutton {
	background-color: #FFBB00;
	border: none;
}

.searchdiv {
	margin-top: 5px;
	margin-left: 5%;
	border: none;
	background-color: #f5B400;
    display: -webkit-inline-box;
}

. /*Ends*/
body {
	overflow-y: scroll;
}

.container {
	width: 800px;
}

.test {
	float: right;
	width: 50px;
	height: 50px;
	font-size: 1.8em;
	margin-bottom: 10px;
}
    border: none;
.button:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s
}

.box {
	border: thick;
}

.boby {
	background-color: #428bca;
}

.taskList {
	height: 50%;
	width: 50%;
	padding-top: 2%;
	margin-top: 20px;
	border: solid;
	font-size: 14px;
	line-height: 10px;
	min-height: 46px;
	padding: 12px 15px 15px 15px;
	display: block;
}

.outer {
	padding-bottom: 10px;
	margin-top: 20px;
}

.listDisplay {
	float: right;
	display: -webkit-box;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	border: transparent;
	background-color:transparent
	margin-right: 8px;
}

.button {
	float: right;
	margin-top: 25px;
	margin-left: 0px;
}

.todoDiv {
	padding-top: 10px;
	margin: 10px;
}
/* popup click css*/
.popclick {
	position: relative;
	display: inline-block;
	font-size: 20px; 
	width: 100%;
	margin:10px;
	word-break: break-word;
}

.popclick .popuptext {
	visibility: hidden;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	font-size: 10px;
	position: absolute;
	z-index: 1;
}

.popclick:hover .popuptext {
	visibility: visible;
}
/*PopUp Css Ends*/
/*Side Menu Start*/
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #E8E8E8;
	overflow-x: hidden;
	transition: 0.5s;
	/*padding-top: 60px;*/
	margin-top: 52px;
}

.sidenav:hover {
	overflow-y: scroll;
	border-radius: 15pt;
}

.sidenav a {
	display: block;
    min-height: 40px;
    padding-bottom: 4px;
    padding-top: 4px;
    cursor: pointer;
    font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    color: #767676;
    padding-left: 16px;
    
}
.sidenav a i{
	    height: 24px;
    width: 24px;
    float: left;
    vertical-align: middle;
}

hr {
	margin-bottom: 1px gray;
}

.sidenav a:hover, .offcanvas a:focus {
	color: black;
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

#main {
	transition: margin-left .1s;
	padding: 16px;
}

@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
/*Side Menu End*/

/*POPUP BOX START*/
.button:hover {
	background: #06D85F;
}

/*LIstAnd Grid View Start*/
.app {
	background: #000;
	width: 980px;
	padding: 20px;
	margin: 0 auto;
}

.cont .cardRow {
	display: table;
	width: 80%;
	padding: 20px 0;
}

.cont.list .card {
	display: table-row;
	background: #fff;
}

.cont.list .card>div {
	display: table-cell;
	vertical-align: middle;
	padding: 10px;
	border-bottom: 2px solid #000;
}

.cont.list .card .imgBox .img {
	display: inline-block;
	vertical-align: middle;
	margin: -4px;
	width: 80px;
	height: 80px;
	background-size: cover;
	background-position: 50% 50%;
}

.cont.list .card .title h2 {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.cont.list .card .title span {
	text-transform: uppercase;
}

.cont.list .card .stakes h3 {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.cont.list .card .stakes span {
	text-transform: uppercase;
}

.cont.list .card .jackpot h4 {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.cont.list .card .jackpot span {
	text-transform: uppercase;
}

.cont.list .card .buttons {
	text-align: right;
}

.cont.list .card .buttons button {
	margin-bottom: 10px;
}

.cont.grid {
	margin-right: -20px;
}

.cont.grid .card {
	display: table-cell;
	background: #fff;
	padding: 6px;
	border-right: 20px solid #000;
}

.cont.grid .card>div {
	position: relative;
}

.cont.grid .card .imgBox {
	border-bottom: 5px solid #444;
}

.cont.grid .card .imgBox .img {
	padding: 100% 0 0;
	background-size: cover;
	background-position: 50% 50%;
}

.cont.grid .card .title h2 {
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.cont.grid .card .title span {
	display: block;
	padding: 0 5px;
	width: 80%;
	position: absolute;
	top: -150%;
	background: #777;
	color: #fff;
	text-transform: uppercase;
}

.cont.grid .card .stakes {
	display: none;
}

.cont.grid .card .jackpot h4 {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

.cont.grid .card .jackpot span {
	display: inline;
	text-transform: uppercase;
}
/*List and Grid view End*/

/*Title and Description*/
.cardTitle {
	background: #fff;
	border-radius: 2px;
	height: auto;
	margin: 1rem;
	width: 80%;
	margin: 0 auto;
}

.card-2 {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
/*Ends*/
/* .row{
	display:inline;
} */