@CHARSET "UTF-8";

#cointainer-note1, #cointainer-note2 {
	display: none;
}

.test {
	float: right;
	width: 50px;
	height: 50px;
	font-size: 1.8em;
	margin-bottom: 10px;
	padi
}

.button:active:after {
	padding: 0;
	margin: 0;
	opacity: 1;
	transition: 0s
}

.box {
	border: thick;
}

.boby {
	background-color: #428bca;;
}

.taskList {
	height: 50%;
	width: 50%;
	padding-top: 2%;
	margin-top: 20px;
	border: solid;
	font-size: 14px;
	line-height: 10px;
	min-height: 46px;
	padding: 12px 15px 15px 15px;
	display: block;
}

.outer {
	padding-bottom: 10px;
	margin-top: 78px;
}

.icon {
	text-align: right;
}

.listDisplay {
	float: right;
	display: inline;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-top: 7px;
	margin-bottom: 0px;
	border: #FFBB00;/*POPUP BOX START*/
}
/*css for list and grid view */
.glyphicon {
	margin-right: 5px;
}

.thumbnail {
	margin-bottom: 20px;
	padding: 10px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

.item.list-group-item {
	float: inherit;
	width: 100%;
	background-color: #fff;
	margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover
	{
	background: #428bca;
}

.item.list-group-item .list-group-image {
	margin-right: 10px;
}

.item.list-group-item .thumbnail {
	margin-bottom: 0px;
}

.item.list-group-item .caption {
	padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
	background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
	display: table;
	content: " ";
}

.item.list-group-item img {
	float: left;
}

.item.list-group-item:after {
	clear: both;
}

.list-group-item-text {
	margin: 0 0 11px;
	padding: 2px 2px;
}

.list-group-item {
	padding: 2px 2px;
}

.button {
	float: right;
	margin-top: 25px;
	margin-left: 0px;
}

.mainmenu {
	
}

.todoDiv {
	padding-left: 14px;
	padding-top: 10px;
}



/* popup click css*/
.popclick {
    position: relative;
    display: inline-block;
}

.popclick .popuptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: 10px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.popclick:hover .popuptext {
    visibility: visible;
}


/*Side Menu Start*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    /*padding-top: 60px;*/
        margin-top: 52px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*Side Menu End*/


/*POPUP BOX START*/
.button:hover {
background: #06D85F;
}

.overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.7);
transition: opacity 500ms;
visibility: hidden;
opacity: 0;
}
.overlay:target {
visibility: visible;
opacity: 1;
}

.popup {
margin: 70px auto;
padding: 20px;
background: #fff;
border-radius: 5px;
width: 30%;
position: relative;
transition: all 5s ease-in-out;
}

.popup .close {
position: absolute;
top: 20px;
right: 30px;
transition: all 200ms;
font-size: 30px;
font-weight: bold;
text-decoration: none;
color: #333;
}
.popup .close:hover {
color: #06D85F;
}
.popup .content {
max-height: 30%;
overflow: auto;
}

p
{
  width: 220px;
  height:auto;
white-space: nowrap;
overflow:hidden;
position: relative;
text-overflow: ellipsis;
}
@media screen and (max-width: 700px){
.box{
  width: 70%;
}.box {
width: 40%;
margin: 0 auto;
background: rgba(255,255,255,0.2);
padding: 35px;
border: 2px solid #fff;Let me Pop up
text-align: center;
}

.popup{
  width: 70%;
}

.box {
width: 40%;
margin: 0 auto;
background: rgba(255,255,255,0.2);
padding: 35px;
border: 2px solid #fff;Let me Pop up
text-align: center;
}

/*POPUP BOX START*/



