@CHARSET "UTF-8";
.tr_head{
	margin-top: 65px;
	display: table;
    height: 100%;
    width: 100%;
}
.tr_subHead{
	display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.tr_head_text{
	cursor: default;
    font-size: 17px;
    font-style: italic;
    padding-top: 24px;
    padding-bottom: 8px;
}
.tr_empty{
	color: #4081f5;
	font-style: normal;
    margin-left: 16px;
    cursor: pointer;
    outline: none!important;
}
.tr_empty_button{
	-webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 14px;
    text-transform: uppercase;
}
.tr_empty_button:hover{
	background-color: rgba(0,0,0,0.08);
}