@CHARSET "UTF-8";
/* for sign up page */
.bodySignup {
	background-image: url("../../signinback.jpg");
background-color: yellow;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 100%;
}

font {
	color: white;
	font-style: oblique;
}
/*for Team list*/
.div {
	display: inline-block;
	height: 50%;
	padding: 1%;

}

.div1 {
	width: 96%;
	height: 100%;
	padding: 2%;
	background-color: #333300;
	text-align: center;
}