<!-- <div class="select">
  <button class="btn" data-ng-click="toggleSelect()">
    <span class="pull-left">
      Select  
    </span>
    <span class="caret pull-right"></span>
  </button>
  <div class="popup" data-ng-show="isPopupVisible">
    Information...<br>
    Information...<br>
    Information...<br>
  </div>
</div> -->

<div  id="todo">

<div class="popup" data-ng-show="isPopupVisible">
		<div >
			<input type="text" name="title" placeholder="Title">
		</div>
		<div class="todo" data-ng-click="toggleSelect()">
			<textarea type="text" name="discription" placeholder="take a note"></textarea>
		</div>
		<div>
			<input type="button" name="submit" value="Save">
		</div>
	</div>
	</div>