<div name="home" data-ng-controller="homeController as hc">
	<nav class="navbar navbar-inverse, nav" role="navigation"
		style="background-color: #FFBB00; width: 100%; z-index: 999; position: fixed;">
		<div class="navbar-header">
			<div style="font-size: 20px; display: inline-block; cursor: pointer">
				<span class="sidebutton"
					style="font-size: 20px; margin-left: 10px; cursor: pointer;"
					onclick="openNav()">&#9776;</span>
			</div>
			<span class="navbar-brand" data-ui-sref="#"
				style="color: black; display: inline-block; float: none;"><b>To
					Do Manager</b></span>
		</div>
		<div class="form-group searchdiv" >
			<div class="icon-addon addon-md" >
				<input type="text" placeholder="Search" class="form-control search"
					id="search"  ng-model="searchtext"> <label for="email"
					class="glyphicon glyphicon-search" rel="tooltip" title="Search"></label>
			</div>
		</div>
		<div style="background-color: #FFBB00"
			class="well well-sm, listDisplay">
			<button class="refreshbutton" data-ng-click=hc.refresh()>
				<i class="glyphicon glyphicon-repeat"></i>
			</button>
			<div class="btn-group btndenger1">
				<button type="button" class="btn btn-danger glyphicon"
					ng-click="isList = !isList"
					ng-class="{'glyphicon-list': !isList, 'glyphicon-th-large': isList}"
					style="background-color: #ffbb00; border: none;"></button>
<button class="popuptext btn btn-default btn-sm" type="button" ng-show="i.update"
									data-ng-click="hc.updateTask($index, i.id)">Done</button>
				<ul class="nav navbar-right top-nav">
					<li class="dropdown"><a href="" class="dropdown-toggle"
						data-toggle="dropdown"><i class="fa fa-user"></i> <b
							class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a ui-sref="profile"><i class="fa fa-fw fa-user"></i>
									Profile</a></li>
							<li class="divider"></li>
							<li><a data-ng-click="hc.signout()"><i
									class="fa fa-fw fa-power-off"></i> Log Out</a></li>
						</ul></li>
				</ul>
			</div>
		</div>
	</nav>
	<div id="main">
		<div class="container">

			<div id="mySidenav" class="sidenav">
				<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
				<a data-ui-sref="home"><i class="glyphicon glyphicon-grain"></i>
					Notes</a>
				<hr>
				<a ui-sref="profile"><i class="glyphicon glyphicon-user"></i>
					Profile</a>
				<hr>
				<a data-ui-sref="about"><i class="glyphicon glyphicon-asterisk"></i>
					About</a>
				<hr>
				<a data-ui-sref="contact"><i
					class="glyphicon glyphicon-phone-alt"></i> Contact</a>
				<hr>
				<a data-ng-click="hc.signout()"><i
					class="glyphicon glyphicon-log-out"></i> Logout</a>
			</div>
			<div>
				<div class="row" style="margin-top: 10%;">
					<div class="cardTitle card-2">
						<div>
							<input style="width: 100%; border: none; display: none;"
								id="selectPeriodRangePanel" type="text" name="title"
								placeholder="Title" data-ng-model="todo.title" />
						</div>
						<div>
							<textarea cols="60" maxlength="300" style="border: none;"
								id="period_select_range_btn" type="text" name="description"
								data-ng-model="todo.description" placeholder="Take a note..."></textarea>
						</div>
						<div id="selectPeriodRangePanel2" style="display: none; margin-left: 88%;">
							<button class="btn btn-default btn-sm" style="border: none; margin-top: -35px; "type="button" value="Done" data-ng-click="hc.save()">Done</button>
						</div>
					</div>
					<div class="outer row ng-class="{list:isList, grid: !isList}" >
						<div class="item "
							ng-class="{'col-xs-12':!isList, 'col-md-6':!isList, 'col-sm-6':!isList,'col-lg-4':!isList}"
							ng-repeat="i in result |filter :searchtext track by $index " ng-mouseover="hoverIn()" ng-mouseleave="hoverOut()">
							<div class="card card-1 thumbnail"
								style="height: 120px; width: 100%;">
								<div style="font-weight: bolder;" ng-hide="i.update">{{i.title}}</div>
								<!-- <div ng-show="i.update"
									class="group list-group-image group inner list-group-item-heading titlediv">
									<input style="border: none;" type="text"
										data-ng-model="i.title" />
								</div> -->
								<div class="popclick" style="font-size: 22px; width: 100%;"
									ng-hide="i.update" ng-click="load_modal_sms(i, $index)">
									<p>{{i.description}}</p>
									<div class="popuptext">click to see</div>
								</div>
								<!-- <div class="group list-group-image titlediv" ng-show="i.update">

									<textarea style="border: none; overflow-y: hidden; width: 100%"
										type="text" data-ng-model="i.description"></textarea>
								</div> -->
								<span ng-show="hoverEdit"  align="left" style="position:absolute;bottom:0px; font-style: italic;">
									<h6>Edited on {{i.date | date }}</h6>
								</span>
								<span style="position:absolute;bottom:0px; right:0px;">
								<!-- <button class="popuptext btn btn-default btn-sm" type="button" ng-show="i.update"
									data-ng-click="hc.updateTask($index, i.id)">Done</button>
								 <button style="border: none; float: right;" type="button"
									ng-hide="i.update" class="btn btn-default btn"
									data-ng-click="hc.updateEnable($index)">
									<i class="glyphicon glyphicon-pencil"></i>
								</button> -->
								<button style="border: none; float: right;" type="button"
									type="button" class="btn btn-default btn" ng-show="hoverEdit" 
									data-ng-click="hc.deleteTask(i.id)" >
									<i class="glyphicon glyphicon-trash"></i>
								</button>
								<div style="clear: both;"></div>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
