<div data-ng-init="initTask(2)" >
	<nav class="navbar navbar-inverse, nav" role="navigation" "
		style="background-color:#636363; width: 100%; z-index: 999; position: fixed;">
		<div class=" navbar-header navbar-text" style="display:inline-flex; cursor: pointer">
			<span data-toggle="tooltip" data-placement="bottom" title="menu" class="ar_sidebutton notification-
			icon" style="font-size: 20px; cursor: pointer; " onclick="toggleSide()">&#9776;
			</span>
			<span style="font-size: 19px; display: -webkit-inline-box; color: white; font-weight: bolder;padding-left: 35px;">
					Trash
			</span>
		</div>
		
		
		<div class="icon-addon addon-md tr_searchdiv form-group has-feedback has-clear">
			<span>
				<i class="fa fa-search ar_searchIcon" aria-hidden="true" style="color: white;"></i>
				<input type="search" placeholder="Search" class="form-control tr_search archive"id="search" data-ng-model="searchtext">
				<span class="form-control-clear form-control-feedback hidden" style="left: 87%;"><i class="fa fa-times fa-3x"></i></span> 
			</span>
		</div>
		<div style="background-color: transparent;" class="navbar-text listDisplay">
			
				<span>
					<button data-toggle="tooltip" data-placement="bottom"
					title="Refresh" class="ar_refreshbutton notification-icon" data-ng-click=hc.refresh()>
						<i class="glyphicon glyphicon-repeat"></i>
					</button>
				</span>
				<span style="margin-left: 25px;">
					<button data-toggle="tooltip" data-placement="bottom"
						title="notification" class="notification-icon ar_notification">
						<i style="color: #636363;"class="fa fa-bell notification-bell" aria-hidden="true"></i>
					</button>
				</span>
				<span class="btn-group btndenger1">
				
						<span data-toggle="tooltip" data-placement="bottom" title="{{!isList?'list view':'grid view'}}"
							class="notification-icon ar_viewList" data-ng-click=" hc.changeView()"
							data-ng-class="{'fa fa-list': !isList, 'fa fa-th-large': isList}"
							style="">
						</span>
					
				</span>
				<span class="top-nav" style="margin-left: 35px;">
				<a href="" style="background-color: transparent;" class="dropdown-toggle" data-toggle="dropdown">
					<img id="menu" class="user"src="http://localhost:8080/toDoApp_2017/getImage"  
						alt="{{userData.firstName.charAt(0).toUpperCase()}}">
				</a>
				<div style="min-width: 328px; margin-top: -8px;position: absolute;left: 72%;"class="dropdown-menu ">
					<div style="margin: 20px; display: flex;">
						 <a style="margin-right: 20px;position: relative; color: inherit;"> 
							<div style="display: inline-block;">
								<img class="user1"  src="http://localhost:8080/toDoApp_2017/getImage"  alt="{{userData.firstName.charAt(0).toUpperCase()}}">
								<span class="changeImage" data-ng-click="uploadImagePopUp(userData)">Change</span>
							</div>
						</a>
						<div class="naming">
							<div style="font-weight: bold; margin: -4px 0 -4px 0;">
								{{userData.firstName}} {{userData.lastName}}</div>
							<div style=" color: #666;">
								{{userData.email}}
							</div>
							<div>
								<button class="btn btn-default btn-sm accBtn" type="button"
									value="My Account" data-ui-sref="profile">My Account
								</button>
							</div>					
						</div>
					</div>
					<hr>
					<div style="background: #E8E8E8;">
						<div>
							<button class="btn btn-default btn-sm"
								style="margin: -9px 20px 6px 0px; float: right; border: 1px solid #c6c6c6;"
								type="button" value="signout" data-ng-click="hc.signout()">
								Sign out
							</button>
						</div>
						<div>
							<button class="btn btn-default btn-sm"style="margin:-9px 20px 6px 20px; float: left; border: 1px solid #c6c6c6;"
									type="button" value="Add Account" data-ng-click="hc.signout()">
									Add account
							</button>
						</div>
					</div>
				</div>
			</span>
		</div>
				
			<div class="flyout hidden">
				<div class="hoverfont1">
					ToDo Account
				</div>
				<div class="hoverfont">
					{{userData.firstName}} {{userData.lastName}}
				</div>
				<div class="hoverfont">
					{{userData.email}}
				</div>
			</div>
	</nav>
	<div id="main">
		<div class="container" style="transition: 0.5s;">
			<div id="mySidenav" class="sidenav">
				<div>
					<ul style="border-bottom: 1px solid #ddd; list-style: none; margin-top: 0; margin-bottom: 0; padding: 8px 0;">
						
						<li class="sideIconList">
							<a data-ng-click="getNote()" class="sideIcon"> 
								<svg style="color: black; opacity: .54; margin-top: 8px; " width="24px " xmlns="http://www.w3.org/2000/svg" fill="#000000"viewBox="0 0 24 24" height="24px">
									<path d="M9 21c0 .55.45 1 1 1h4c.55 0 1-.45 1-1v-1H9v1zm3-19C8.13 2 5 5.13 5 9c0 2.38 1.19 4.47 3 5.74V17c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-2.26c1.81-1.27 3-3.36 3-5.74 0-3.87-3.13-7-7-7z"></path>
									<path d="M0 0h24v24H0z" fill="none"></path>
								</svg>  
								<span class="sideList">Notes</span>
							</a>
						</li>
						<li class="sideIconList">
							<a data-ng-click="remindfilter()" class="sideIcon"> 
								<img alt="" src="images/abc.svg"  style="margin-top: 8px;">
								<span class="sideList">Reminder</span>
							</a>
						</li>
					</ul>
					<ul style="border-bottom: 1px solid #ddd; list-style: none; margin-top: 0; margin-bottom: 0; padding: 8px 0;">
						<li class="sideIconList">
							<a data-ng-click="archive()" class="sideIcon"> 
								<img alt="" src="images/archive.svg"  style="margin-top: 8px;">
								<span class="sideList">Archive</span>
							</a>
						</li>
						<li class="sideIconList">
							<a data-ng-click="trash_state()" class="sideIcon"> 
								<img alt="" src="images/trash.svg" style="margin-top: 8px;">
								<span class="sideList">Trash</span>
							</a>
						</li>
					</ul>
				</div>
				
			</div>
			<div class="tr_head">
				<div class="tr_subHead">
					<span class="tr_head_text">
						Notes in Trash are deleted after 7 days.
					</span>
					<span role="button" class="tr_empty tr_empty_button" aria-hidden="false" style="user-select: none;" tabindex="0">
						Empty Trash now
					</span>
				</div>
			</div>
			<div style="margin-top: 20%">
				<div class="beforeNote" ng-if="result.length===0">
					<div>
						<i style="font-size: 80px;" class="fa fa-trash-o" aria-hidden="true"></i>
					</div>
					<div style="margin: 10px;">No notes in Trash</div>
				</div>
			</div>
			<div style="margin-top: 10%" class="container">
				<div ng-class="{list:isList, grid: !isList}">
					<div data-ng-class="{'listviewalign':isList,'col-xs-12':!isList, 'col-md-6':!isList, 'col-sm-6':!isList,'col-lg-4':!isList}"
						data-ng-repeat="i in result | orderBy:'reminder' |filter :searchtext track by $index "
						data-ng-mouseover="hoverIn()" data-ng-mouseleave="hoverOut()" ng-if="i.trash">
						<div class="card card-1 thumbnail " style="width: 100%;margin: 10px; background-color: {{i.cardColor}}">
							<div class="pin_note colorIcon" data-toggle="tooltip" data-placement="auto" data-ng-click="PinArchive($index,i.id, 1)"
								title="Pin archived note" data-ng-show="hoverEdit">
								<i style="padding: 10px;"class="fa fa-thumb-tack" aria-hidden="true"></i>
							</div>
							<div class="cardtitle"data-ng-hide="i.update">
								{{i.title}}
							</div>
							
							<div class="popclick" style=""
								data-ng-hide="i.update" data-ng-click="load_modal_sms(i, $index)">
								<p>
									{{i.description}}
								</p>
							</div>
							<div class="text-box">
								<span  data-toggle="tooltip" data-placement="auto" title="more" data-ng-show="hoverEdit"
									style="position: absolute;"data-ng-style="{bottom:(!i.reminder?'5px':'5px')}">
									<button id="d" data-toggle="dropdown" style="border: none; background-color: transparent; 
										outline: none; padding: 0px 12px;" type="button" class="btn btn-default btn dropdown-toggle colorIcon">
										<i class="glyphicon glyphicon-option-vertical" aria-hidden="true"></i>
									</button>
									<div class="dropdown-menu" style=" cursor: pointer; min-width: 150px; top: 87%; padding: 5px; line-height: 2.5">
										<div data-ng-click="hc.deleteTask(i.id, $index)">
											<span>Delete note</span>
										</div>
										<div data-ng-click="trash(i.id, $index)">
											<span>Restore</span>
										</div>
									</div>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

