<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd 
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<tx:annotation-driven transaction-manager="transactionManager"/>
	<mvc:annotation-driven />
	
	<!--controller and services scan -->
	<context:component-scan base-package="com.bridgeit.toDoApp.controller" />
	<context:component-scan base-package="com.bridgeit.toDoApp.service" />
	<context:component-scan base-package="com.bridgeit.toDoApp.validator" />
	

	<mvc:resources location="/bower_components/" mapping="/bower_components/**"/>
	<mvc:resources location="/images/" mapping="/images/**"/>
	<mvc:resources location="/js/" mapping="/js/**"/>
	<mvc:resources location="/template/" mapping="/template/**"/>
	
	
	<mvc:resources location="/css/" mapping="/css/**"/>
	
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"></property>
		<property name="suffix" value=".jsp"></property>
	
	</bean>
	<!-- Pooled data source. -->
	<bean id="pooledDataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver" />
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/ToDoApp" />
		<property name="user" value="root" />
		<property name="password" value="root" />
		<property name="maxPoolSize" value="100" />
		<property name="minPoolSize" value="3" />
		<property name="maxStatements" value="4" />
	</bean>
	
	<!-- Session Mapping -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="pooledDataSource" />
		<property name="annotatedClasses">
			<list>
				<value>
					com.bridgeit.toDoApp.model.User
				</value>
				<value>
					com.bridgeit.toDoApp.model.Token
				</value>
				<value>
					com.bridgeit.toDoApp.model.ToDoTask
				</value>
				<value>
					com.bridgeit.toDoApp.model.Reminder
				</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect"> org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="current_session_context_class">thread</prop>
			</props>
		</property>
	</bean>
	
	
	<!-- Transaction Mapping -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<bean id="userservice" class="com.bridgeit.toDoApp.service.UserServiceImpl" />
	<bean id="dao" class="com.bridgeit.toDoApp.dao.UserDaoImpl" />
	<bean id="userValidatation" class="com.bridgeit.toDoApp.validator.UserValidatation" />
	<bean id="tokenservice" class="com.bridgeit.toDoApp.service.TokenServiceImpl" />
	<bean id="tokendao" class="com.bridgeit.toDoApp.dao.TokenDaoImpl"></bean>
	<bean id="toDoService" class="com.bridgeit.toDoApp.service.ToDoServiceImpl" />
	<bean id="tododao" class="com.bridgeit.toDoApp.dao.ToDoDaoImpl"></bean>
	
	</beans>